:target:before {
    content: "";
    display: block;
    height: 51px;
    margin-top: -51px;
}

html {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

hr {
    border-style: none none solid;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

section {
    margin-bottom: 48px;
}

nav, main {
    max-width: 920px;
    width: 100%;
    margin: auto;
}

nav {
    position: sticky;
    top: -1px;
    background: white;
}

nav > ul {
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#summary {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 24px;
}

#summary > img {
    width: 240px;
}

#summary > .summary__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#location {
    display: flex;
    align-items: center;
    gap: 6px
}

.country {
    height: 18px;
}

#skills > .skills__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

#skills > .skills__list > li {
    padding: 6px;
    background-color: lightgray;
}

#work-experience > .work-experience__position > .work-experience__position-name {
    font-style: italic;
}

#project > .project__item > .project__item-name {
    font-style: italic;
}

#education > .education__degree {
    font-style: italic;
}

#languages > .languages__list {
    padding: 0;
    list-style-type: none;
}

#languages > .languages__list > li {
    display: flex;
    align-items: center;
    gap: 6px
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.footer__content-links {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__content-links > a > img {
    height: 32px;
}